.header-wrapper {
    background-color: white;
    padding: 5px 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px -8px, rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;

}

.chats-body {
    padding: 10px 0px;
    padding-top: 100px;
}

.chats-body .header,
.chats-body .status-bar {
    padding: 0px 20px;
}

.chat-screen {
    background-image: url("../img/email-pattern.png");
    min-height: 100vh;
}

.chat-screen .chat__messages {
    padding: 0px 20px;
    border-top: 1px solid #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat__messages .chat__timestamp {
    background-color: white;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 30px 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px, rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
    text-transform: uppercase;
    font-weight: 700;
}

.message {
    display: flex;
    align-items: flex-start;
    width: 50%;
    margin-bottom: 20px;
}

.message .message__content {
    width: 80%;
}

.incoming-message {
    align-self: flex-start;
}


.incoming-message .message__author {
    margin-top: 10px;
    display: block;
    font-weight: 600;
    font-size: 12px;
}

.sent-message {
    align-self: flex-end;
}

.message .message__bubble {
    display: block;
    font-weight: 600;
    background-color: white;
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px, rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
}

.incoming-message img {
    margin-right: 15px;
    width: 30px;
    border-radius: 15px;
}

.incoming-message .message__bubble {
    color: white;
    background-image: linear-gradient(to right, #7b4397, #dc2430);
    border-bottom-left-radius: 0px;
}

.sent-message .message__bubble {
    color: white;
    background-image: linear-gradient(to left, #00c6ff, #0072ff);
    border-bottom-right-radius: 0px;
}

.chat__write {
    position: fixed;
    bottom: 50px;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: flex;
    background-color: #fcfcfc;
    padding: 0px 20px;
    border-radius: 40px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    align-items: center;
}

.chat__write {
    bottom: 0px;
    width: 100%;
    border-radius: 0;
}

.chat__write i {
    font-size: 22px;
}

.chat__write-column:nth-child(2) {
    width: 80%;
}

.chat__write-column input {
    padding: 20px 10px;
    width: 100%;
    border: none;
    font-size: 14px;
}

.chat__write-column input:focus {
    border: none;
    outline: none;
}